<div class="card card-custom">
    <div class="card-header">
        <!-- <div class="card-title"> -->
            <!-- <h3 class="card-label">
                Appointment Calendar
            </h3> -->
        <!-- </div> -->
    </div>
    <div class="card-body">
        <div >
            <!-- <button (click)="updateEvents()" id="updateEvents">Update events</button>
        <button (click)="updateHeader()" id="updateHeader">Update header</button> -->
            <!-- <div class='app-calendar' *ngIf="calendarVisible"> -->
            <!-- <full-calendar
          #calendar
          [selectable]=true
          [editable]="true"
          [droppable]= "true"
          defaultView="dayGridMonth"
          [header]="{
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          }"
          [plugins]="calendarPlugins"
          [weekends]="calendarWeekends"
          [events]="calendarEvents"
          (dateClick)="handleDateClick($event)"
        ></full-calendar> -->

                <full-calendar #calendar
                [editable]="true"
                [events]="calendarEvents"
                [header]="options.header"
                [eventLimit] = true

                [height] = 500
                [contentHeight] = 480
                [aspectRatio] =3


                [visibleRange]= "{
                    start: '2020-01-01',
                    end: '2020-12-31'
                }"

                [nowIndicator] = true

                slotDuration= "00:30"
                defaultView = "timeGridWeek"
                calendarWeekends = true;
                [businessHours] = "{
                    startTime: '8:00',
                    endTime: '17:00',
                    daysOfWeek: [0, 1, 2,3,4,5,6 ]
                }"

                    [customButtons]="options.customButtons"
                    [weekends]="calendarWeekends"
                    (eventDragStop)="eventDragStop($event)"
                    [plugins]="options.plugins"
                    (dayRender)="dayRender($event)"
                    (eventReceive)="createTask($event)"
                    (eventDrop)="updateTask($event)"
                    (eventRender)="eventDo($event)"
                    (eventClick)="deleteEvent($event)"
                    (dateClick) = "handleDateClick($event)"
                    [columnHeaderHtml]="options.columnHeaderHtml"></full-calendar>




        </div>
    </div>
    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Appointment</h4>
          </div>
          <div class="modal-body">
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                             <div class="col-sm-6">
                                <div class="form-group">
                                      <label>Customer Name</label>
                                      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Customer Name is required</div>
                                      </div>
                                   </div>
                             </div>

                             <div class="col-sm-6">
                                   <div class="form-group">
                                      <label>Customer Phone Number</label>
                                      <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                      <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                         <div *ngIf="f.mobile.errors">Mobile must be Valid and at least 10 digits</div>

                                      </div>
                                   </div>
                                </div>
                           </div>

                 <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


     </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal"  (click)="onClick()">Close</button>

          </div>
        </div>
      </div>
  </div>
</div>


