<style>
    .form-control.form-control-solid {
        background-color: #c9c9c9;
        border-color: #f3f6f9;
        color: #464e5f;
    }

    .loginform {
        width: 56%;
    }

    @media (max-width:1200px) {
        .loginform {
            width: 60%;
        }
    }

    @media (max-width:992px) {
        .loginform {
            width: 70%;
        }
    }

    @media (max-width:764px) {
        .loginform {
            width: 60%;
        }
    }

    @media (max-width:440px) {
        .loginform {
            width: 80%;
        }
    }
</style>
<div style="overflow: hidden;">
    <div class="row">
        <div class="col-md-5 d-md-block d-none"
            style="padding: 0%;height: 100vh;background: #631742;
                background: linear-gradient(0deg, #631742 0%, #9d1f66 40%, #ec2f9a 83%);">
            <img src="../../assets/images/aboutus/about3-img.png" alt="" style="width: 120%;height: 100%;">
        </div>
        <div class="col-md-7" style="padding: 0%;background-color:rgb(255, 255, 255);">
            <div class="d-flex flex-column-fluid flex-center" style="height: 98vh;">
                <!--begin::Signin-->
                <div class="loginform">
                    <!--begin::Form-->

                    <form class="form" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
                        <!--begin::Title-->
                        <div class="pt-lg-5 mt-lg-7 pb-5">

                            <h3 class="font-weight-bolder text-dark display5">Request to Change Password
                                <a href="#">
                                    <img src="../../assets/images/logo.png" class="max-h-100px" alt>
                                </a>
                            </h3>

                        </div>
                        <!--begin::Title-->

                        <!--begin::Form group-->
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                                style="background-color: #fff;border: 1.5px solid #9f0784 !important;" type="text" required
                                name="username" autocomplete="off" [(ngModel)]=email formControlName="email">
                        </div>
                        <!--end::Form group-->

                        <!--begin::Action-->
                        <div class="pb-lg-0 pb-10">
                            <button type="submit" [disabled]="!requestForm.valid"
                                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Request to Change Password</button>

                        </div>
                        <!--end::Action-->
                    </form>
                    <!--end::Form-->
                    <span class="text-muted font-weight-bold font-size-h4">
                        <a routerLink="/login" id="kt_login_signup"
                            class="text-primary font-weight-bolder">Login ?
                        </a>
                    </span>
                    <br>
                    <br>
                    <span class="text-muted font-weight-bold font-size-h4">New Here? <br>
                        <a routerLink="/signup-donor" id="kt_login_signup"
                            class="text-primary font-weight-bolder">Create an Account as Donor
                        </a>
                    </span>
                    <br>
                    <span class="text-muted font-weight-bold font-size-h4 ">
                        <a routerLink="/signup-patient" id="kt_login_signup"
                            class="text-primary font-weight-bolder">Create an Account as Paitent
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>