
<!--begin::Chat-->
<div class="d-flex flex-row">
  <!--begin::Aside-->
  <div class="flex-row-auto offcanvas-mobile w-350px w-xl-400px" id="kt_chat_aside">
    <!--begin::Card-->
    <div class="card card-custom">
      <!--begin::Body-->
      <div class="card-body left-panel">
        <!--begin:Search-->
        <div class="input-group mb-3">
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text" id="basic-addon1">-->
<!--              &lt;!&ndash;begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo8/dist/assets/media/svg/icons/General/Search.svg&ndash;&gt;-->
<!--              <svg-->
<!--                height="24px" version="1.1"-->
<!--                viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"-->
<!--              >-->
<!--                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">-->
<!--                  <rect height="24" width="24" x="0" y="0"/>-->
<!--                  <path-->
<!--                    d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"-->
<!--                    fill="#000000" fill-rule="nonzero" opacity="0.3"/>-->
<!--                  <path-->
<!--                    d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"-->
<!--                    fill="#000000" fill-rule="nonzero"/>-->
<!--                </g>-->
<!--              </svg>-->
<!--              &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--            </span>-->
<!--          </div>-->
          <input class="form-control" placeholder="Search" type="text"
                 [(ngModel)]="searchBarValue" (ngModelChange)="searchValueChange()"/>
        </div>
        <!--end:Search-->

        <!--begin:Users-->
        <div class="mt-7 scroll scroll-pull" style="height: 100%">
          <!--begin:User-->
          <ng-container *ngFor="let previousChat of filteredChatList">
            <div class="d-flex align-items-center justify-content-between mb-5" (click)="changeUser(previousChat)">

              <div class="d-flex align-items-center">
                <div class="symbol symbol-circle symbol-50 mr-3">
                  <img [src]="previousChat.dp" alt="Pic"/>
                </div>
                <div class="d-flex flex-column">
                  <a class="text-dark-75 text-hover-primary font-weight-bold font-size-lg">{{previousChat.fullName}}</a>
<!--                  <span class="text-muted font-weight-bold font-size-sm">{{previousChat.status}}</span>-->
                </div>
              </div>

              <div class="d-flex flex-column align-items-end">
<!--                <span class="text-muted font-weight-bold font-size-sm">{{previousChat.lastChatTime}}</span>-->
              </div>
            </div>
          </ng-container>
            <!--end:User-->
        </div>
        <!--end:Users-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Aside-->

  <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8" id="kt_chat_content">
      <!--begin::Card-->
      <app-chat-messages
        [roomId]="roomId"
        [senderId]="senderId"
        [senderRole]="senderRole"
        [receiverId]="receiverIds"
        [receiverRole]="receiverRole">
      </app-chat-messages>
    </div>
  <!--end::Content-->
</div>
<!--end::Chat-->

