::ng-deep body {
    background-color: unset !important;
    background-image: unset !important;
}
@media (max-width:1900) {
  .login-form {
    width: 80%;
  }
}

@media (max-width:992) {
  .login-form {
    width: 60%;
  }
}

@media (max-width:764) {
  .login-form {
    width: 80%;
  }
}

@media (max-width:440) {
  .login-form {
    width: 100%;
  }
}

