<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
           You want a wig?
        </h3>
    </div>
    <!--begin::Form-->
    
    
    <form >

    <!-- </form>[formGroup]="bookForm" (ngSubmit)="onSubmit()"> -->
        <div class="card-body">
            
           
        
            
              
           
              
            </div>
        
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                </div>
                  <div class="col-10"> 
                    <button type="book" class="btn btn-primary mr-2">Request</button>
                    <!-- <button type="submit" class="btn btn-primary mr-2" [disabled]="!bookForm.valid">Book </button>
                   -->
                    <!-- <button type="reset" class="btn btn-secondary" (click)="salonForm.reset()">Cancel</button> -->
                </div> 
            </div>
        </div>
    </form>
</div>














