<ng-container *ngIf="selectedDonor.request.length > 0">
    <mat-card *ngIf="!selectedDonor?.request?.finished && !selectedDonor?.request?.canceled"
              class="last-request">
      Your last request is still processing
    </mat-card>
  </ng-container>

<div class="card card-custom">
    <div class="col-lg-8" style="float:none;margin:auto;">
    <div class="card-header">
        <h3 class="card-title">
            Donation Request
        </h3>
    </div>
    <!--begin::Form-->
    <form [formGroup]="donationRequestForm" (ngSubmit)="onSubmit()">
        <div class="card-body">

                
                <div class="checkbox-inline">
                    <h6 class="text">{{selectedDonor.address}}. Is this the current address of yours?</h6>
                    <label class="checkbox checkbox-circle checkbox-success">
                        <input type="checkbox" (change)="clickYes()" [value]='yes' formControlName="yes" [(ngModel)]="yes"/> Yes
                        <span></span>
                    </label>
                    <label class="checkbox checkbox-circle checkbox-success">
                        <input type="checkbox" (change)="clickNo()" [value]='no' formControlName="no" [(ngModel)]="no"/> No
                        <span></span>
                    </label>
                </div>
             <ng-container *ngIf="no">
                <div class="mb-15">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Your new address:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control"  (keydown.enter)="$event.preventDefault()" placeholder="Type your new address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                        </div>
                    </div>
                </div>
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
              
                
                <div>Latitude: {{latitude}}</div>
                <div>Longitude: {{longitude}}</div>
            </ng-container>

            <div class="form-group row">
                <label class="col-form-label col-5 ">After which date you can donate :</label>
                <div class="col-6">
                    <input type="date"  min="2020-07-07" class="form-control form-control-solid" placeholder="Enter appointment date" formControlName="validDate">
                    <span class="form-text text-muted">Please enter the appointment date</span>
                </div>
            </div>

            </div>
            
        
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button type="submit" class="btn btn-primary mr-2" [disabled]="!donationRequestForm.valid">Send a request</button>
                    <button type="reset" class="btn btn-secondary" (click)="donationRequestForm.reset()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>














