<!-- <mat-toolbar color="primary">Appointment Book </mat-toolbar> -->
<div class="content">
  <div class="col-xl-15">
    <div class="row" *ngIf="valid() && reqestState==false">
        <div class="col-xl-4" *ngFor="let salon of salonList; let i = index">
          <mat-card class="example-card"  >
                  <mat-card-header>
                       <!-- <div mat-card-avatar ></div> -->
                       <mat-card-title>{{salon['name']}}</mat-card-title>
                       <mat-card-subtitle>{{salon['email']}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/images/salon.jpg" alt="Photo of a Salon">
                  <mat-card-content>
                       <p>
                        {{salon['address']}}
                      </p>
                      <p>{{salon['telephone']}}</p>

                      <!-- <p> 011 259 9421</p> -->
                  </mat-card-content>
                  <mat-card-actions>

                              <button   type="button" class="btn btn-primary mr-2" (click)="book(salon['email'])" >BOOK</button>


                  </mat-card-actions>
              </mat-card>
            <!-- } -->
        </div>

        <!-- <div class="col-xl-4">
              <mat-card class="example-card">
                  <mat-card-header> -->
                       <!-- <div mat-card-avatar class="example-header-image"></div> -->
                       <!-- <mat-card-title>{{selectedDonor['salon.name']}} </mat-card-title>
                       <mat-card-subtitle>{{selectedDonor['salon.email']}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/images/salon1.jpg" alt="Photo of a Salon">
                  <mat-card-content>
                         <p> {{selectedDonor['salon.address']}}</p>
                         <p>{{selectedDonor['salon.telephone']}}</p> -->
                         <!-- <p>011 233 6884</p> -->
                          <!-- <p>011 472 1153</p> -->
                 <!-- </mat-card-content>
                 <mat-card-actions>
                         <button   type="button" class="btn btn-primary mr-2" (click)="book()" >BOOK</button>

                 </mat-card-actions>
             </mat-card>
        </div>
        <div class="col-xl-4">
          <mat-card class="example-card">
              <mat-card-header> -->
                   <!-- <div mat-card-avatar class="example-header-image"></div> -->
                   <!-- <mat-card-title>{{selectedDonor['salon.name']}}</mat-card-title>
                   <mat-card-subtitle>{{selectedDonor['salon.email']}}{{selectedDonor['salon.email']}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../assets/images/salon.jpg" alt="Photo of a Salon">
              <mat-card-content>
                     <p>  {{selectedDonor['salon.address']}}</p>
                    <p>{{selectedDonor['salon.telephone']}}</p> -->
                    <!-- <p>011 243 7437</p> -->

              <!-- </mat-card-content>
             <mat-card-actions>
               <button   type="button" class="btn btn-primary mr-2" (click)="book()" >BOOK</button>

             </mat-card-actions>
         </mat-card>
        </div> -->


      </div>
    </div>

    <div *ngIf="reqestState=== true">
      <div class="col-12 card">
        <div class="container" style="padding: 15%;">
          <h2>please put doation reqest</h2>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!valid() && reqestState=== false">
      <div class="col-12 card">
        <div class="container" style="padding: 15%;">
          <h2>Wait for {{reqestDate.split('T')[0]}} get Appointment</h2>
        </div>
      </div>
      
    </div>
</div>



