<!-- <mat-toolbar color="primary">Appointment Book </mat-toolbar> -->
<div class="content">
  <div class="col-xl-15">
    <div class="row">
        <div class="col-xl-4">
             <mat-card class="example-card">
                  <mat-card-header>
                       <!-- <div mat-card-avatar ></div> -->
                       <mat-card-title>{{Salon['name']}}</mat-card-title>
                       <mat-card-subtitle>{{Salon['email']}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src=" ../../assets/images/salon.jpg" alt="Photo of a Salon">
                  <mat-card-content>
                       <p>
                        {{Salon['address']}}
                      </p>
                      <p>{{Salon['telephone']}}</p>

                      <!-- <p> 011 259 9421</p> -->
                  </mat-card-content>
                  <mat-card-actions>

                              <button   type="button" class="btn btn-primary mr-2" (click)="book()" >BOOK</button>


                  </mat-card-actions>
              </mat-card>
        </div>
        <!-- <div class="col-xl-4">
              <mat-card class="example-card">
                  <mat-card-header> -->
                       <!-- <div mat-card-avatar class="example-header-image"></div> -->
                       <!-- <mat-card-title>Kalani Salon </mat-card-title>
                       <mat-card-subtitle>kalanisalon@gmail.com</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/images/salon1.jpg" alt="Photo of a Salon">
                  <mat-card-content>
                         <p>Talawatugoda,Sri Jayawardanapura Kotte , Sri Lanka</p>
                         <p>0778966543</p> -->
                         <!-- <p>011 233 6884</p> -->
                          <!-- <p>011 472 1153</p> -->
                  <!-- </mat-card-content>
                 <mat-card-actions>
                         <button   type="button" class="btn btn-primary mr-2" (click)="book()" >BOOK</button>

                 </mat-card-actions>
             </mat-card>
        </div> -->
        <!-- <div class="col-xl-4">
          <mat-card class="example-card">
              <mat-card-header> -->
                   <!-- <div mat-card-avatar class="example-header-image"></div> -->
                   <!-- <mat-card-title>Mali Salon</mat-card-title>
                   <mat-card-subtitle>malisalon@gmail.com</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../assets/images/salon.jpg" alt="Photo of a Salon">
              <mat-card-content>
                     <p>67 Nugegoda Flyover, Nugegoda, Sri Lanka</p>
                    <p>0786799854</p> -->
                    <!-- <p>011 243 7437</p> -->

              <!-- </mat-card-content>
             <mat-card-actions>
               <button   type="button" class="btn btn-primary mr-2" (click)="book()" >BOOK</button>

             </mat-card-actions>
         </mat-card>
        </div> -->


      </div>
    </div>
</div>



