<div class="d-flex flex-column flex-root" *ngIf="!ismobile()" style="height: 100vh;">
    <!--begin::Error-->
    <div class="error error-4 d-flex flex-row-fluid bgi-size-cover bgi-position-center"
        style="background-image: url(assets/images/bg4.jpg);">
        <!--begin::Content-->
        <div
            class="d-flex flex-column flex-row-fluid align-items-center align-items-md-start justify-content-md-center text-center text-md-left px-10 px-md-30 py-10 py-md-0 line-height-xs">
            <h1 class="error-title text-success font-weight-boldest line-height-sm" style="font-size: 5rem;">Waiting...</h1>
            <p class="display-4 text-danger font-weight-boldest mt-md-0 line-height-md">Pleasse wait for attendante verification.</p>
            <a routerLink="/login" class="display-4 danger font-weight-boldest mt-md-0 line-height-md">For Login</a>
        </div>
        <!--end::Content-->
    </div>
    <!--end::Error-->
</div>
<div class="d-flex flex-column flex-root" *ngIf="ismobile() " style="height: 100vh;">
    <!--begin::Error-->
    <div class="error error-4 d-flex flex-row-fluid bgi-size-cover bgi-position-center"
        style="background-image: url(assets/images/bg4.jpg);background-position: -65%;">
        <!--begin::Content-->
        <div
            class="d-flex flex-column flex-row-fluid align-items-center align-items-md-start justify-content-md-center text-center text-md-left px-10 px-md-30 py-10 py-md-0 line-height-xs">
            <h1 class="error-title text-success font-weight-boldest line-height-sm" style="font-size: 5rem;">Waiting...
            </h1>
            <p class="display-4 text-danger font-weight-boldest mt-md-0 line-height-md">Pleasse wait for attendante
                verification.</p>
            <a routerLink="/login" class="display-4 danger font-weight-boldest mt-md-0 line-height-md">For Login</a>
        </div>
        <!--end::Content-->
    </div>
    <!--end::Error-->
</div>