
<div class="active-purple-4 mb-4">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    
  </div>



<div class="card card-custom">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name of the Salon</th>
           
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Salon Ramani Fernando, Colombo 03</td>
            
            <td>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                    See more details
                </button> 
            </td>
        </tr>
        
    </tbody>
</table>
</div>