<div class="col-lg-12">
    <!--begin::Card-->
    <div class="card card-custom gutter-b example example-compact">
        <!-- <div class="card-header"> -->
            <!-- <h3 class="card-title">
                Patient Dashboard
            </h3> -->
            <!-- <div class="card-toolbar">
                <div class="example-tools justify-content-center">
                    <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                    <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                </div>
            </div> -->
        <!-- </div> -->
        <!--begin::Form-->
        <form class="form">
            <div class="card-body">
                <div class="form-group">
                    <label>Patient ID No:</label>
                    <input type="id" class="form-control form-control-solid" placeholder="">
                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                </div>
                <div class="form-group">
                    <label>Patient Name:</label>
                    <input type="name" class="form-control form-control-solid" placeholder="">
                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="email" class="form-control form-control-solid" placeholder="">
                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else</span> -->
                </div>
                <div class="form-group">
                    <label>Telephone Number</label>
                    <div class="input-group input-group-solid">
                        <!-- <div class="input-group-prepend"><span class="input-group-text">$</span></div> -->
                        <input type="number" class="form-control  form-control-solid" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label>Emergency Contact Person Name:</label>
                    <input type="text" class="form-control form-control-solid" placeholder="">
                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else</span> -->
                </div>
                <div class="form-group">
                    <label>Emergency Contact Number:</label>
                    <input type="number" class="form-control form-control-solid" placeholder="">
                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else</span> -->
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="email" class="form-control form-control-solid" placeholder="">
                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else</span> -->
                </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-primary mr-2">Submit</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Card-->
