li{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

.content,.flex-column-fluid{
  padding: 10px !important;
}

.btn.btn-light-primary.focus:not(.btn-text),
.btn.btn-light-primary:focus:not(.btn-text),
.btn.btn-light-primary:hover:not(.btn-text) {
  color: #ccaead;
  background-color: #cc0e74;
  border-color: transparent
}
